@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font-family-body);
  background-color: #F5F5F5;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  Margin:0;
  Padding:0;
  Border:0; 
}

:root{
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}